p,ul {
    color:darkblue;
    font-size:20px;
}
h3 {
    color:black
}
h1 {
    color:black;
    text-align:center;
}
.body {
    background-color: lightblue;
}
#ball, #Agawak {
    width: 300px;
    height: 150px;
}
#Samantha {
    width: 325px;
    height: 425px;
}
#logo { 
        width:150px;
        height:150px;
}
.boxes {
    border-style:solid;
    border-width: 4px;
    border-color: deeppink;
}
.boxes {
    background-color:white;
    padding:30px;
    margin:20px;

}
a {
    font-size:20px;
    color: blue;
}
#Fam {
    width:375px;
    height:260px;
}
div {
    text-align:left;
}
.right {
    float:right;
}
#freetime {
    background-color: lightyellow;
}
#summer {
    background-color: lightcyan;
}
#family {
    background-color: lightgrey;
}
#racket { 
    width:200px;
    height:200px;
}